[submodule "catkin_ws/src/drone_state_estimation"]
	path = catkin_ws/src/drone_state_estimation
	url = git@github.com:bawkbak/drone_state_estimation.git
[submodule "catkin_ws/src/PX4-Avoidance"]
	path = catkin_ws/src/PX4-Avoidance
	url = git@github.com:ARG-NCTU/PX4-Avoidance.git
[submodule "catkin_ws/src/drone_navigation"]
	path = catkin_ws/src/drone_navigation
	url = git@github.com:bawkbak/drone_navigation.git
[submodule "catkin_ws/src/drone_mavros_cmd"]
	path = catkin_ws/src/drone_mavros_cmd
	url = git@github.com:bawkbak/drone_mavros_cmd.git
[submodule "catkin_ws/src/behavior_tree"]
	path = catkin_ws/src/behavior_tree
	url = git@github.com:ARG-NCTU/behavior_tree.git
[submodule "catkin_ws/src/behavior_tree_msgs"]
	path = catkin_ws/src/behavior_tree_msgs
	url = git@github.com:ARG-NCTU/behavior_tree_msgs.git
[submodule "catkin_ws/src/drone_setup"]
	path = catkin_ws/src/drone_setup
	url = git@github.com:bawkbak/drone_setup.git
[submodule "catkin_ws/src/ros_tsp"]
	path = catkin_ws/src/ros_tsp
	url = git@github.com:bawkbak/ros_tsp.git
[submodule "catkin_ws/src/realsense_ros"]
	path = catkin_ws/src/realsense_ros
	url = git@github.com:IntelRealSense/realsense-ros.git
[submodule "catkin_ws/src/apriltag_ros"]
	path = catkin_ws/src/apriltag_ros
	url = git@github.com:AprilRobotics/apriltag_ros.git
[submodule "catkin_ws/src/drone_resilient_height"]
	path = catkin_ws/src/drone_resilient_height
	url = git@github.com:bawkbak/drone_resilient_height.git
[submodule "catkin_ws/src/zed_ros_wrapper"]
	path = catkin_ws/src/zed_ros_wrapper
	url = git@github.com:bawkbak/zed_ros_wrapper.git
[submodule "catkin_ws/src/pozyx_ros"]
	path = catkin_ws/src/pozyx_ros
	url = git@github.com:ARG-NCTU/pozyx_uwb.git
[submodule "catkin_ws/src/drone_location_transfer"]
	path = catkin_ws/src/drone_location_transfer
	url = git@github.com:bawkbak/drone_location_transfer.git
